<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GCPack Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <style>
        #nav ul{
    display : none;
}
#nav li:hover > ul{
    display : block;
}
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GCPack Application " + GCPack.Web.Filter.UserRoles.UserName(), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Úvodní stránka", "Index", "Home")</li>
                    <li>@Html.ActionLink("Osoby", "Index", "User")</li>
                    <li>@Html.ActionLink("Dokumenty", "Index", "Documents")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Číselníky <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Typy dokumentů</a></li>
                            <li><a href="#">Střediska</a></li>
                            <li><a href="#">Pracovní pozice</a></li>
                        </ul>
                    </li>

                    @if (GCPack.Web.Filter.UserRoles.HasRole("SystemAdministrator"))
                    {
                        <li>@Html.ActionLink("Administrace uživatelů", "Index", "User")</li>
                    }
                    

                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                    <li>@Html.ActionLink("Prihlaseni", "Index", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Odhlášení uživatele", "Logout", "Login")</li>
                    }

                    

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GCPack Application</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
