@using GCPack.Model;
@using GCPack.Web.Filters;
@using GCPack;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GCPack Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.WSpager.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <style>
        #nav ul{
    display : none;
}
#nav li:hover > ul{
    display : block;
}
    </style>
    <script>
        <!-- AppRoot -->
        var AppRoot = '@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]';
    </script>

</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GC System a.s.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Úvodní stránka", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("Dokumenty", "Index", "Documents")</li>*@

                    @if (UserRoles.IsAccess("SystemAdmin,SuperDocAdmin,DocAdmin,Author,User"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Dokumenty<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li>
                                    @Html.ActionLink("Všech typů", "Index", "Documents", new DocumentFilter() { DocumentTypeID = 0, StateCode = "Registered", StateID = 2, Revision = "p", Reset = true }, null)

                                </li>
                                @foreach (var item in GCPack.Helper.GetDocumentTypeItems())
                                {
                                    <li>
                                        @Html.ActionLink(item.Value, "Index", "Documents", new DocumentFilter() {DocumentTypeID = item.ID, StateCode = "Registered", StateID = 2, Revision = "p", Reset = true }, null)

                                    </li>
                                }
                            </ul>
                        </li>
                    }

                @if (UserRoles.IsAccess("SystemAdmin,SuperDocAdmin,DocAdmin,Author"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nový dokument <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            @foreach (var item in GCPack.Helper.GetDocumentTypeItems())
                            {
                                <li>
                                    @Html.ActionLink(item.Value, "Add", "Documents", new { DocumentTypeID = item.ID }, null)
                                </li>
                            }
                        </ul>
                    </li>

                }

                @if (UserRoles.IsAccess("SystemAdmin,SuperDocAdmin"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Číselníky<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Typy dokumentů", "DocumentTypesIndex", "CodeLists")</li>
                            @if (GCPack.Web.Filter.UserRoles.HasRole("SystemAdmin"))
                            {
                                <li>@Html.ActionLink("Administrace uživatelů", "Index", "User")</li>
                            }
                            <li>@Html.ActionLink("Systém", "AppSystemIndex", "CodeLists")</li>
                            <li>@Html.ActionLink("Střediska", "DivisionIndex", "CodeLists")</li>
                            <li>@Html.ActionLink("Pracovní pozice", "JobPositionIndex", "CodeLists")</li>
                            <li>@Html.ActionLink("Projekty", "ProjectIndex", "CodeLists")</li>
                            <li>@Html.ActionLink("Pracovní místa", "WorkplaceIndex", "CodeLists")</li>
                            @*<li>@Html.ActionLink("Test emailu", "SendMail", "Documents")</li>*@

                        </ul>
                    </li>
                }

                @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Přihlášení uživatele", "Index", "Login")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Odhlášení uživatele", "Logout", "Login")</li>
                }

                    
                    <p class="nav navbar-text navbar-right">@GCPack.Web.Filter.UserRoles.UserName()</p>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GCPack Application</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
