@model GCPack.Model.DocumentTypeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("SaveDocumentType", "CodeLists", FormMethod.Post))
{
<div class="container">
    <input type="hidden" name="ID" value="@Model.ID" />
    <div class="row">
        <div class="col-md-2">Název</div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Název typu dokumentu" } })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">Správce</div>
        <div class="col-md-6">
            @Html.DropDownListFor(m => m.AdministratorID, new SelectList(ViewBag.Users, "ID", "Value"), new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">Pořadí</div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.OrderBy, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">Perioda přezkoumání v letech</div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.ValidityInYears, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">Povinnost vyplnit rozdělovník</div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.IsRequiredFillListOfPersons, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">Automatické generování čísla dokumentu</div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.AutomaticNumberingOfDocuments, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">Prefix čísla dokumentu</div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.NumberingOfDocumentPrefix, new { htmlAttributes = new { @class = "form-control", @placeholder = "Prefix dokumentu" } })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">Oddělovač čísla dokumentu</div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.NumberingOfDocumentSeparator, new { htmlAttributes = new { @class = "form-control", @placeholder = "Oddělovač čísla dokumentu" } })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">Délka čísla dokumentu</div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.NumberingOfDocumentLength, new { htmlAttributes = new { @class = "form-control", @placeholder = "Délka čísla dokumentu" } })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">Poslední číslo dokumentu</div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.LastNumberOfDocument, new { htmlAttributes = new { @class = "form-control", @placeholder = "Poslední číslo dokumentu" } })
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">Účinnost dokumentu po schválení ve dnech</div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.DocumentEfficiencyDays, new { htmlAttributes = new { @class = "form-control", @placeholder = "Účinnost dokumentu po schválení" } })
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">Čas na seznámení ve dnech</div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.InformedInDays, new { htmlAttributes = new { @class = "form-control", @placeholder = "Čas na seznámení" } })
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-2"><input type="submit" class="btn btn-success" value="Uložit a zavřít"/></div>
    </div>
</div>
}