@model GCPack.Model.DocumentModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var timeoutHandle;
    var selectedUsers = [];
    $(document).ready(function () {

        $("#EffeciencyDate").datepicker();
        $("#ReviewDate").datepicker();
        $("#NextReviewDate").datepicker();
        $("#tabs").tabs();

        $('#filter').keyup(function () {
            GetUsers();
        });

        $('#cancelChanges').click(function () {
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
                document.location.href = '/GCPack.Web/Documents';
            });
        });

        $('#jobPosition').change(function () {
            GetUsers();
        });

        $("#RemoveSelectedUsers").click(function ()
        {
            $("#SelectedUsers :selected").each(function () {
                $(this).remove();
            });
            GetUsers();
        });

        $('#saveDocument').click(function ()
        {
            var form = $(this).closest('form')
            $(form).validate();
            if (!$(form).valid()) {
                return
            }


            $('#SelectedUsers option').prop('selected', true);
        });

        $('#AddUserToList').click(function () {
            $("#FilteredUsers :selected").each(function (index, user) {
                $('#SelectedUsers').append('<option value="' + user.value + '">' + user.text + '</option>');
            });
            
            GetUsers();
        });
        

        GetUsers();

        $('.removeFile').click(function () {
            $('#DeleteFileItems').val($('#DeleteFileItems').val() + $(this).attr('fileId') + ',');
            $(this).closest(".row").remove();
        });

        $('.downloadFile').click(function () {
            alert('stazeni souboru');
        });

        function GetUsers()
        {
            if (timeoutHandle != null) window.clearTimeout(timeoutHandle);

            timeoutHandle = setTimeout(
                function () {
                    selectedUsers = [];
                    $("#SelectedUsers").children().each(function () {
                        selectedUsers.push($(this).val());
                    });
                    $('#FilteredUsers').empty();
                    $.getJSON("/GCPack.Web/user/getUsers", { name: $('#filter').val(), jobPositionId: $('#jobPosition').val(), preservedUsers: selectedUsers.join(',') })
                        .done(function (users) {

                            for (var user in users)
                            {
                                $('#FilteredUsers').append($('<option>', {
                                    value: users[user].ID,
                                    text: users[user].LastName + ' ' + users[user].FirstName 
                                }));
                            }
                            
                        })
                        .fail(function (jqxhr, textStatus, error) {
                            var err = textStatus + ", " + error;
                            console.log("Request Failed: " + err);
                        });


                },
                500);
        }
    });

</script>
<style>
    .row {
        margin-bottom:10px;
    }
</style>
<h2>@ViewBag.Title</h2>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    @using (Html.BeginForm("Save", "Documents", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ID" value="@Model.ID" />
        <input type="hidden" name="type" value="@ViewBag.Type" />
        <input type="hidden" name="DeleteFileItems" id="DeleteFileItems" />
        <div id="success-alert" class="alert alert-danger" style="display:none">Tento dokument se neuložil</div>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Dokument</a></li>
                <li><a href="#tabs-3">Soubory</a></li>
                <li><a href="#tabs-4">Přiřazené osoby k dokumentu</a></li>
            </ul>
            <div id="tabs-1">
                <div class="row">
                    <label class="control-label col-md-2" for="Title">Název</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Název dokumentu" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", required = "required" })
                    </div>
                    <label class="control-label col-md-2" for="EffeciencyDate">Datum účinnosti</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.EffeciencyDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EffeciencyDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2" for="DocumentAdminType">Číslo dokumentu</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DocumentNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Číslo dokumentu" } })
                        @Html.ValidationMessageFor(model => model.DocumentNumber, "", new { @class = "text-danger" })
                    </div>
                    <label class="control-label col-md-2" for="ReviewDate">Datum revize</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ReviewDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReviewDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2" for="Revision">Typ revize</label>
                    <div class="col-md-4">
                        @Model.Revision
                        <input type="hidden" name="Revision" value="@Model.Revision" />
                    </div>
                    <label class="control-label col-md-2" for="NextReviewDate">Datum další revize</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NextReviewDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NextReviewDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2" for="DocumentTypeID">Typ dokumentu</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.DocumentTypeID, new SelectList(ViewBag.DocumentTypes, "ID", "Value"))
                    </div>
                </div>

                <div class="row">
                    <label class="control-label col-md-2" for="DocumentAdminType">Typ správce dokumentu</label>
                    <div class="col-md-10">

                        @Html.RadioButtonFor(m => m.DocumentAdminType, GCPack.Model.DocumentAdminType.User) Vybraná osoba &nbsp;
                        @Html.RadioButtonFor(m => m.DocumentAdminType, GCPack.Model.DocumentAdminType.FromDocumentType) Z typu dokumentu
                        <br />
                        @Html.DropDownListFor(m => m.AdministratorID, new SelectList (ViewBag.Administrators, "ID", "FirstName"))
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2" for="Title">Anotace</label>
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Annotation, new { @class = "form-control annotationArea", @placeholder = "Poznámka k dokumentu" })
                        @Html.ValidationMessageFor(model => model.Annotation, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
            <div id="tabs-3">

                <div class="row">
                    <label class="control-label col-md-4" for="Title">Přiřazené soubory k dokumentu</label>
                </div>
                
                @foreach (var item in @Model.FileItems)
                {
                    <div class="row">
                        <div class="col-md-2">
                            @item.Name
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="btn btn-default btn-sm removeFile" fileId="@item.ID">
                                <span class="glyphicon glyphicon-remove"></span> Smazat
                            </a>
                            <a href="/GCPack.Web/Documents/GetFile?FileID=@item.ID" class="btn btn-default btn-sm downloadFile" fileId="@item.ID">
                                <span class="glyphicon glyphicon-download"></span> Stáhnout soubor
                            </a>
                        </div>
                    </div>
                }
                

                <div class="row" style="margin-top:30px">
                    <label class="control-label col-md-4" for="Title">Přidat nové soubory</label>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <input type="file" name="file1" id="file1" value="Přidat soubor" class="btn btn-default" />
                        <br />
                        <input type="file" name="file2" id="file2" value="Přidat soubor" class="btn btn-default" />
                        <br />
                        <input type="file" name="file3" id="file3" value="Přidat soubor" class="btn btn-default" />
                    </div>
                </div>
            </div>
                <div id="tabs-4">
                    <div class="row">
                        <div class="col-md-10">
                            <div style="margin-bottom:20px">
                                <b>Přiřazení uživatelé k dokumentu</b><br />
                                <select multiple name="SelectedUsers" id="SelectedUsers" class="selectBoxes">
                                @if (@Model.Users != null)
                                    {
                                        foreach (var item in @Model.Users)
                                        {
                                            <option value="@item.ID">@item.LastName  @item.FirstName</option>
                                        }
                                    }
                                </select>
                                <br />
                                <input type="button" value="Odebrat osoby z dokumentu" id="RemoveSelectedUsers" class="btn btn-default" />

                            </div>
                            <div>

                                <div class="ui-widget">
                                    <label for="filter">Filtr: </label>
                                    <input id="filter">
                                    <label for="jobPosition">Pracovní pozice: </label>
                                    <select id="jobPosition">
                                        <option value="0">Všechny</option>
                                        @foreach (var item in ViewBag.JobPositions)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    </select>
                                </div>

                                <select multiple name="FilteredUsers" id="FilteredUsers" class="selectBoxes"></select>
                                <br />
                                <input type="button" value="Přiřadit osoby k dokumentu" id="AddUserToList" class="btn btn-default" />
                            </div>

                        </div>
                    </div>
                </div>
        </div>
            <input type="hidden" name="ID" id="ID" />
            <div style="clear:both;margin-bottom:10px"></div>
            <div class="row">
                <div class="col-md-10">
                    <input type="submit" value="Uložit" id="saveDocument" class="btn btn-success" />
                    <input type="button" value="Zrušit změny" id="cancelChanges" class="btn btn-danger" />
                </div>
            </div>
    }
                </div>
