 @model GCPack.Model.RizenyDokument
@{
    ViewBag.Title = "Index";
}

<h2>Index dokumenty</h2>

<h3>@Model.Nazev</h3>
<textarea >@Model.Popis</textarea>

@foreach (GCPack.Model.Uzivatel uzivatel in Model.Uzivatele)
{
    <div>
        FirstName: @uzivatel.FirstName &nbsp; LastName: @uzivatel.LastName <input type="button" value="vymazat" />
    </div>
}
<hr />
@foreach (GCPack.Model.Stredisko stredisko in Model.Strediska)
{
    <div>
        FirstName: @stredisko.Nazev &nbsp; <input type="button" value="vymazat" />
    </div>
}



<hr />
<h2> Priklady </h2>
@if (GCPack.Web.Filter.UserRoles.HasRole("admin"))
{
    <input type="button" value="tlacitko pro admina" />
}
<br />



Uzivatel ma role:
@foreach (string role in GCPack.Web.Filter.UserRoles.GetUserRoles())
{
    <div>
        role xxx:
        @role
    </div>
}
    <h2>Podminene zobrazeni barevneho textu</h2>
    <span @Html.Raw(GCPack.Web.Filter.UserRoles.HasRole("admin") ? @"style=""color:red""":"") >Tady je nejaky text</span>


