@model GCPack.Model.DocumentFilter
@using GCPack.Model;
@using GCPack;

@{DocumentFilter filter = (DocumentFilter)Session["DocumentFilter"]; }

@{string AppRoot = System.Configuration.ConfigurationManager.AppSettings["AppRoot"];}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .blue-border {
        border: 3px solid #3276B1 !important;
    }

    .mytooltip {
        background-color: #FFFFE0;
        color: black !important;
        padding: 5px 10px;
        border-radius: 5px;
    }
       

    /*.mytooltip {
        radius: 4px !important;
        background-color: black;
        color: rgb(255, 77, 85) !important;
        padding: 5px 20px;
        border-radius: 20px;
        margin: 50px;
        text-align: center;
        font: bold 14px;
        font-stretch: condensed;
        text-decoration: none;
        box-shadow: 0 0 10px black;
    }*/

   
    
</style>

@if (ViewBag.Message != null)
{
    <script>
        //zobrazi hlasku y dokumentu
        $(document).ready(function () {
                        $('#success-alert').html('@ViewBag.Message');
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#success-alert").slideUp(500);
                        });
            });
    </script>
}
    <script>





        //function doSomething(this) {
        //    if ($(this).val() !== '') {  //assuming the form doesn't have some fields populated by default.
        //        $(this).addClass('green-border');
        //    } else {
        //        $(this).removeClass('green-border');
        //    }
        //}

        function setColorCompleted(param) {

            if ($(param).val() !== '') {
                $(param).addClass('blue-border');
            } else {
                $(param).removeClass('blue-border');
            }


            if ($(param).val() != 0) {
                $(param).addClass('blue-border');
            } else {
                $(param).removeClass('blue-border');
            }

            if ($(param).val() == 'all') {
                $(param).removeClass('blue-border');
            } else {

            }
        }

        var timeoutHandle;
        var orderBy = 'NumberA';
        $(document).ready(function () {

                $("#AllDocuments").delegate("tr.dataRowClick", "click", function () {
                        window.location.href = '/Documents/Details?documentId=' + $(this).attr('value');
                });

                GetDocuments();

                // vsechny talcitka na trideni jsou zalozany na  css class sortBy
                $('.sortBy').click(
                    function () {

                        //SetSelectedColumn($(this), GetDocuments);

                        // z aktualniho linku si beru parametr trideni, pro nastaveni trideni se kterzm pocitam ve funkci
                        orderBy = $(this).attr('sortBy');
                        GetDocuments();

                       
                    }
                    
                );

                $('.filterText, .filter').each(function () {
                    setColorCompleted(this);
                });

                $(function () {
                    $('.filterText, .filter').on('keyup change', function () {
                        setColorCompleted(this);
                    });
                });

                $('.filterText').keyup(function () {
                    GetDocuments();
                });

                $('.filter').change(function () {
                    GetDocuments();
                });

        });

        


        var EventFromPager = 0;
        var isInit = true;


        function GetDocuments() {
            // nastaven 500mlisec spoydeni na cekani bna vlozeni vstupu z klavesnice
            if (timeoutHandle != null) window.clearTimeout(timeoutHandle);

            timeoutHandle = setTimeout(
                function () {

                    //var EffeciencyDateFrom = $('#EffeciencyDateFrom').val();
                    //var EffeciencyDateTo = $('#EffeciencyDateTo').val();
                    //var NextReviewDateFrom = $('#NextReviewDateFrom').val();
                    //var NextReviewDateTo = $('#NextReviewDateTo').val();
                    var AllPath = AppRoot + "/documents/getDocuments";
                    $.post(AppRoot + "/documents/getDocuments", {
                        name: $('#Name').val(),
                        Number: $('#Number').val(),
                        //AdministratorName: $('#AdministratorName').val(),
                        DocumentTypeID: $('#DocumentTypeID').val(),
                        OrderBy: orderBy,
                        ProjectID: $('#ProjectID').val(),
                        DivisionID: $('#DivisionID').val(),
                        AppSystemID: $('#AppSystemID').val(),
                        WorkplaceID: $('#WorkplaceID').val(),
                        EffeciencyDateFrom: $('#EffeciencyDateFrom').val(),
                        EffeciencyDateTo: $('#EffeciencyDateTo').val(),
                        NextReviewDateFrom: $('#NextReviewDateFrom').val(),
                        NextReviewDateTo: $('#NextReviewDateTo').val(),
                        ReadType: $('#ReadType').val(),
                        //StateID: $('#StateID').val(),
                        StateCode: $('#StateCode').val(),
                        Revision: $('#Revision').val(),
                        //Archiv: $('#Archiv').val(),
                        ReviewNecessaryChange: $('#ReviewNecessaryChange').val(),
                        Page: $('#page').val(),
                        ItemsPerPage: $('.rowsPerPage').val(),
                        AdministratorID: $('#AdministratorID').val(),
                        AuthorID: $('#AuthorID').val(),
                        UserID: $('#UserID').val()
                    })

                        .done(function (documentCollection) {
                            WSPager.SetPager(documentCollection.Count);
                            isInit = false;
                            //$('#AllDocuments .dataRow').remove();

                            // nastaveni ikony pro defaultni stertideni - jina barva (class)
                            //alert(documentCollection.filter.OrderBy);
                            SetTable('AllDocuments',documentCollection.filter.OrderBy);

                            $.each(documentCollection.Documents, function (index, doc) {

                                var dateStr = "";

                                var unReadCount = 0;

                                var redColor = "#EE9090";
                                var blackColor = "#000000";
                                var readColor = blackColor;
                                var archiv = "";

                                if (doc.EffeciencyDate != null) {
                                    var date = eval(doc.EffeciencyDate.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"));
                                    dateStr =
                                        date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear();
                                }

                                unReadCount = doc.AllUsers - doc.UsersRead;

                                if (unReadCount > 0) {
                                    readColor = redColor
                                }

                                //if doc.Archived == true) {
                                //    archiv = "A"
                                //} else {
                                //    archiv = ""
                                //}

                                var revision;
                                if (isEmpty(doc.Revision)) {
                                    revision = '<td> ' + doc.DocumentStateName + '</td>';
                                }
                                else {
                                    revision = '<td> ' + doc.DocumentStateName + ' (<b>' + doc.Revision + '</b>)</td>';
                                };
                                //<a href="http://example.com"><td  width="200">hello world</td></a>

                                //$('table').append('<tr class="dataRow" value="' + doc.ID + '">' +
                                //    '<td> ' + doc.DocumentNumber + ' (V' + doc.IssueNumber + ')</td>' +
                                //    '<td> ' + doc.Title + '</td>' +
                                //    '<td> ' + dateStr + '</td>' +
                                //    '<td> ' + doc.DocumentAdministrator + '</td>' +
                                //    revision +
                                //    '<td> <b> <font color="' + readColor + '">' + doc.UsersRead + ':' + unReadCount + '</font></b></td>' +
                                //    '<td><A href="' + AppRoot + '/Documents/Edit?documentId=' + doc.ID +
                                //    '"><span class="glyphicon glyphicon-edit"></span></A> <A href="' + AppRoot + '/Documents/Details?documentId=' + doc.ID +
                                //    '"><span class="glyphicon glyphicon-eye-open"></span></A> <A href="' + AppRoot + '/Documents/Delete?documentId=' + doc.ID +
                                //    '"><span class="glyphicon glyphicon-trash"></span></A></td>'
                                //);

                                //$('#AllDocuments').append('<tr class="dataRow dataRowClick"' + doc.ID + ' value="' + doc.ID + '">' +
                                //    '<td> ' + doc.DocumentNumber + ' (V' + doc.IssueNumber + ')</td>' +
                                //    '<td> ' + doc.Title + '</td>' +
                                //    '<td> ' + dateStr + '</td>' +
                                //    '<td> ' + doc.DocumentAdministrator + '</td>' +
                                //    revision +
                                //    '<td> <b> <font color="' + readColor + '">' + doc.UsersRead + ':' + unReadCount + '</font></b></td>' +
                                //    '<td><A href="' + AppRoot + '/Documents/Edit?documentId=' + doc.ID +
                                //    '"><span class="glyphicon glyphicon-edit"></span></A> <A href="' + AppRoot + '/Documents/Details?documentId=' + doc.ID + '&tabs=6' +
                                //    '"><span class="glyphicon glyphicon-user"></span></A> <A href="' + AppRoot + '/Documents/Delete?documentId=' + doc.ID +
                                //    '"><span class="glyphicon glyphicon-trash"></span></A></td>'
                                //);

                                $('#AllDocuments').append('<tr class="dataRow dataRowClick"' + doc.ID + ' value="' + doc.ID + '">' +
                                    '<td> ' + doc.DocumentNumber + ' (V' + doc.IssueNumber + ')</td>' +
                                    '<td> ' + doc.Title + '</td>' +
                                    '<td> ' + dateStr + '</td>' +
                                    '<td> ' + doc.DocumentAdministrator + '</td>' +
                                    revision +
                                    '<td><A href="' + AppRoot + '/Documents/Details?documentId=' + doc.ID + '&tabs=6' +'"><b><font color="' + readColor + '">' + doc.UsersRead + ':' + unReadCount + '</font></b></A></td>' +
                                    '<td><A href="' + AppRoot + '/Documents/Edit?documentId=' + doc.ID +
                                    '"><span class="glyphicon glyphicon-edit"></span></A><A href="' + AppRoot + '/Documents/Delete?documentId=' + doc.ID +
                                    '"><span class="glyphicon glyphicon-trash"></span></A></td>'
                                );

                               
                            });
                            

                        })
                        .fail(function (jqxhr, textStatus, error) {
                            var err = textStatus + ", " + error;
                            console.log("Request Failed: " + err);
                        });


                },
                500);
        }




        //function SetSelectedColumn(thisObj, f) {

        //    var $tableThis = thisObj.closest('table');

        //    $tableThis.find(".sortBy").each(function () {
        //        var $sortByA = $(this);
        //        var $sortBySpan = $sortByA.find('span.glyphicon');
        //        $sortBySpan.removeClass('setSortBy');
        //        $sortBySpan.addClass('setSortByDefault');
        //        //alert($sortByA.attr('sortBy'));
        //    });

        //    orderBy = thisObj.attr('sortBy');

        //    var $sortByA = thisObj;

        //    var $sortBySpan = $sortByA.find('span.glyphicon');

        //    $sortBySpan.removeClass('setSortByDefault');
        //    $sortBySpan.addClass('setSortBy');

        //    f();
        //}


    </script>



<div style="position:relative">
    <div id="success-alert" class="alert alert-success" style="display:none;position:absolute;top:10px;right:0px"></div>
</div>


<div class="row" style="padding-top:5px; padding-bottom:5px">
    <div class="col-md-10">
        <h2>Dokumenty</h2>      
    </div>
    
    <div class="col-md-2">
       <img src="~/Images/GCpack.gif" class="img-responsive" alt="GC pack logo" width="106" height="57">
    </div>
</div>

<script>
        var WSPager;

        $(document).ready(function () {

            //$(document).tooltip();

            //$(document).tooltip({
            //    position: {
            //        my: "center bottom-20",
            //        at: "center top",
            //        using: function (position, feedback) {
            //            $(this).css(position);
            //            $("<div>")
            //                .addClass("arrow")
            //                .addClass(feedback.vertical)
            //                .addClass(feedback.horizontal)
            //                .appendTo(this);
            //        }
            //    }
            //});

            $(document).tooltip({
                tooltipClass: "mytooltip"
                //tooltipClass: "custom-tooltip-styling"
            });


            if ("@UserRoles.IsAccess("User,Anonymous").ToString().ToLower()"=="true")
            {
                $('#StateCode').attr('disabled', 'disabled');
                $('#Revision').attr('disabled', 'disabled');
            }




            WSPager = $().WSPager({ owner: '#pager',  itemCount: 0, rowsPerPage: @((filter != null && filter.ItemsPerPage != 0) ? filter.ItemsPerPage : 10), fnGetPage: GetDocuments });

            if ($("#Name").val() != '' || $("#Number").val() != '' || $("#AdministratorID").val() != 0 || $("#AuthorID").val() != 0) {
                $("#section-filter-plus1").collapse('show');
            }

            if ($("#ProjectID").val() != 0 || $("#DivisionID").val() != 0 || $("#AppSystemID").val() != 0 || $("#WorkplaceID").val() != 0) {
                $("#section-filter-plus2").collapse('show');
            }

            if ($("#EffeciencyDateFrom").val() != '' || $("#EffeciencyDateTo").val() != '' || $("#NextReviewDateFrom").val() != '' || $("#NextReviewDateTo").val() != '') {
                $("#section-filter-plus3").collapse('show');
            }

            $("#section-filter-plus0").on("hide.bs.collapse", function () {
                $("#btnCollapse0").html('<span class="glyphicon glyphicon-collapse-down"></span> +');

                $("#DocumentTypeID").val(0);
                //$("#StateID").val(0);
                $("#StateCode").val('all');
                $("#ReviewNecessaryChange").val('all');
                $("#Revision").val('all');
                $("#ReadType").val('all');

                $('.filterText, .filter').each(function () {
                    setColorCompleted(this);
                });

                //alert("section-filter-plus0");
                GetDocuments();

            });


            $("#section-filter-plus1").on("hide.bs.collapse", function () {
                $("#btnCollapse1").html('<span class="glyphicon glyphicon-collapse-down"></span> +');
                $("#Name").val('');
                $("#Number").val('');
                //$("#AdministratorName").val('');
                $("#AdministratorID").val('0');
                $("#AuthorID").val('0');
                $("#UserID").val('0');


                $('.filterText, .filter').each(function () {
                    setColorCompleted(this);
                });

                //alert("section-filter-plus1");
                GetDocuments();

            });



            $("#section-filter-plus2").on("hide.bs.collapse", function () {

                $("#btnCollapse2").html('<span class="glyphicon glyphicon-collapse-down"></span> +');

                $("#ProjectID").val('0');
                $("#DivisionID").val('0');
                $("#AppSystemID").val('0');
                $("#WorkplaceID").val('0');



                $('.filterText, .filter').each(function () {
                    setColorCompleted(this);
                });

                //alert("section-filter-plus2");
                GetDocuments();

            });

            $("#section-filter-plus3").on("hide.bs.collapse", function () {

                $("#btnCollapse3").html('<span class="glyphicon glyphicon-collapse-down"></span> +');

                $("#EffeciencyDateFrom").val('');
                $("#EffeciencyDateTo").val('');
                $("#NextReviewDateFrom").val('');
                $("#NextReviewDateTo").val('');

                $('.filterText, .filter').each(function () {
                    setColorCompleted(this);
                });

                //alert("section-filter-plus3");
                GetDocuments();


            });

            $("#section-filter-plus0").on("show.bs.collapse", function () {
                $("#btnCollapse0").html('<span class="glyphicon glyphicon-collapse-up"></span> -');
            });

            $("#section-filter-plus1").on("show.bs.collapse", function () {
                $("#btnCollapse1").html('<span class="glyphicon glyphicon-collapse-up"></span> -');
            });

            $("#section-filter-plus2").on("show.bs.collapse", function () {
                $("#btnCollapse2").html('<span class="glyphicon glyphicon-collapse-up"></span> -');
            });

            $("#section-filter-plus3").on("show.bs.collapse", function () {
                $("#btnCollapse3").html('<span class="glyphicon glyphicon-collapse-up"></span> -');
            });

            $('#divisionsFilter').keyup(function () {
                filterCodeList($(this).val(), '#DivisionID');
            });

            $('#projectsFilter').keyup(function () {
                filterCodeList($(this).val(), '#ProjectID');
            });

            $('#appSystemsFilter').keyup(function () {
                filterCodeList($(this).val(), '#AppSystemID');
            });

            $('#workplacesFilter').keyup(function () {
                filterCodeList($(this).val(), '#WorkplaceID');
            });

            // tato funkce je spolecna pro Index a Edit - bude lepsi ji dat nekam do spolecneho mista
            // zatim tomu tak neni 18.6.2017 LF
            function filterCodeList(filter, codeList) {
                $(codeList + ' option').each(function () {
                    if ($(this).text().toLowerCase().indexOf(filter.toLowerCase()) > -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                })
            };
            // http://api.jqueryui.com/datepicker/#option-navigationAsDateFormat
            $("#EffeciencyDateFrom").datepicker();
            $("#EffeciencyDateTo").datepicker();
            $("#NextReviewDateFrom").datepicker();
            $("#NextReviewDateTo").datepicker();

            //https://stackoverflow.com/questions/494958/how-do-i-localize-the-jquery-ui-datepicker
            $.datepicker.regional['cs'] = {
                closeText: 'Zavřít',
                prevText: '&#x3c;Dříve',
                nextText: 'Později&#x3e;',
                currentText: 'Nyní',
                monthNames: ['leden', 'únor', 'březen', 'duben', 'květen', 'červen', 'červenec', 'srpen',
                    'září', 'říjen', 'listopad', 'prosinec'
                ],
                monthNamesShort: ['led', 'úno', 'bře', 'dub', 'kvě', 'čer', 'čvc', 'srp', 'zář', 'říj', 'lis', 'pro'],
                dayNames: ['neděle', 'pondělí', 'úterý', 'středa', 'čtvrtek', 'pátek', 'sobota'],
                dayNamesShort: ['ne', 'po', 'út', 'st', 'čt', 'pá', 'so'],
                dayNamesMin: ['ne', 'po', 'út', 'st', 'čt', 'pá', 'so'],
                weekHeader: 'Týd',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };

            $.datepicker.setDefaults($.datepicker.regional['cs']);

        });






</script>

<div style="background-color:#D1D1D1; padding-left:5px; padding-top:5px" >

    @*--------*@
    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#section-filter-plus0" id="btnCollapse0">
                <span class="glyphicon glyphicon-collapse-down"></span> +
            </button>
        </div>

        <div class="col-md-2">
            <label for="DocumentTypeID">Typ</label>
        </div>
        <div class="col-md-2">
            <label for="DocumentStates">Stav</label>
        </div>
        <div class="col-md-2">
            <label for="ReadType">Typ revize</label>
        </div>
        <div class="col-md-2">
            <label for="ReviewNecessaryChange">Nutná změna</label>
        </div>

        <div class="col-md-2">
            <label for="ReadType">Seznámeno</label>
        </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#section-filter-plus0" id="btnCollapse0">
                <span class="glyphicon glyphicon-collapse-down"></span> +
            </button>
        </div>
    </div>
    <div id="section-filter-plus0" class="collapse in">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.DocumentTypeID, new SelectList(ViewBag.DocumentTypes, "ID", "Value"), new { @class = "filter form-control" })                
            </div>
            <div class="col-md-2">
                @*@Html.DropDownListFor(m => m.StateID, new SelectList(ViewBag.DocumentStates, "ID", "Name"), new { @class = "filter form-control" + Helper.IsAccessCSSClass("SA,SuperDocAdmin,DocAdmin,Author", "noDisabled") })*@
                @Html.DropDownListFor(m => m.StateCode, new SelectList(ViewBag.DocumentStates, "Code", "Name"), new { @class = "filter form-control" + Helper.IsAccessCSSClass("SystemAdmin,SuperDocAdmin,DocAdmin,Author", "noDisabled") })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.Revision, new SelectList(ViewBag.RevisionType, "Code", "Value"), new { @class = $"filter form-control  { Helper.IsAccessCSSClass("SystemAdmin,SuperDocAdmin,DocAdmin,Author", "noDisabled") }" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.ReviewNecessaryChange, new SelectList(ViewBag.ReviewNecessaryChange, "Code", "Value"), new { @class = "filter form-control" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.ReadType, new SelectList(ViewBag.ReadType, "Code", "Value"), new { @class = "filter form-control" })
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>

    @*------*@


    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#section-filter-plus1" id="btnCollapse1">
                <span class="glyphicon glyphicon-collapse-down"></span> +
            </button>
        </div>

        <div class="col-md-2">
            <label for="Name">Číslo</label>
        </div>
        <div class="col-md-2">
            <label for="Number">Název</label>
        </div>
        <div class="col-md-2">
            <label for="AdministratorID">Správce</label>
        </div>
        <div class="col-md-2">
            <label for="AuthorID">Autor</label>
        </div>
        
        <div class="col-md-2">
            <label for="UserID">Uživatel</label>
        </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#section-filter-plus1" id="btnCollapse1">
                <span class="glyphicon glyphicon-collapse-down"></span> +
            </button>
        </div>
    </div>
    <div id="section-filter-plus1" class="collapse">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-2">
                <input class="filterText form-control" type="text" id="Number" value="@((filter != null) ? filter.Number : string.Empty)" />
            </div>
            <div class="col-md-2">
                <input class="filterText form-control" type="text" id="Name" value="@((filter != null) ? filter.Name : string.Empty)" />
            </div>
            <div class="col-md-2">
                @*<input class="filterText form-control" type="text" id="AdministratorName" value="@((filter != null) ? filter.AdministratorName : string.Empty)" />*@
                @Html.DropDownListFor(m => m.AdministratorID, new SelectList(ViewBag.UniqueAdministrators, "ID", "Value"), new { @class = "filter form-control" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.AuthorID, new SelectList(ViewBag.UniqueAuthors, "ID", "Value"), new { @class = "filter form-control" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.UserID, new SelectList(ViewBag.UniqueUsers, "ID", "Value"), new { @class = "filter form-control", @title = "Nápověda pro toto pole"  })
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>

    
    
    <div class="row">

        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#section-filter-plus2" id="btnCollapse2">
                <span class="glyphicon glyphicon-collapse-down"></span> +
            </button>
        </div>

        <div class="col-md-2">
            <label for="ProjectID">Project</label>
        </div>

        <div class="col-md-2">
            <label for="DivisionID">Středisko</label>
        </div>
        <div class="col-md-2">
            <label for="AppSystemID">Systém</label>
        </div>
        <div class="col-md-2">
            <label for="WorkplaceID">Lokalita</label>
        </div>
        <div class="col-md-2">
            
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#section-filter-plus2" id="btnCollapse2">
                <span class="glyphicon glyphicon-collapse-down"></span> +
            </button>
        </div>
    </div>

    @*class="collapse"*@
    <div id="section-filter-plus2" class="collapse">
        <div class="row">
            <div class="col-md-1">
                
            </div>
            @*<div class="col-md-2">
                <input type="text" id="projectsFilter" placeholder="Filtr projektů" class="filter  form-control" />
            </div>

            <div class="col-md-2">
                <input type="text" id="divisionsFilter" placeholder="Filtr středisek" class="filter form-control" />
            </div>

            <div class="col-md-2">
                <input type="text" id="appSystemsFilter" placeholder="Filtr systémů" class="filter form-control" />
            </div>

            <div class="col-md-2">
                <input type="text" id="workplacesFilter" placeholder="Filtr prac. míst" class="filter form-control" />
            </div>*@

            <div class="col-md-2">
                @Html.DropDownListFor(m => m.ProjectID, new SelectList(ViewBag.Projects, "ID", "Name"), new { @class = "filter form-control" })
            </div>

            <div class="col-md-2">
                @Html.DropDownListFor(m => m.DivisionID, new SelectList(ViewBag.Divisions, "ID", "Name"), new { @class = "filter form-control" })
            </div>

            <div class="col-md-2">
                @Html.DropDownListFor(m => m.AppSystemID, new SelectList(ViewBag.AppSystems, "ID", "Name"), new { @class = "filter form-control" })
            </div>

            <div class="col-md-2">
                @Html.DropDownListFor(m => m.WorkplaceID, new SelectList(ViewBag.Workplaces, "ID", "Name"), new { @class = "filter form-control" })
            </div>

            <div class="col-md-2">

            </div >

            <div class="col-md-2">

            </div>
            <div class="col-md-1">

            </div>
        </div>

    </div>



    <div class="row">

        <div class="col-md-1">
            <button type = "button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#section-filter-plus3" id="btnCollapse3">
                <span class="glyphicon glyphicon-collapse-down"></span> +
            </button>
        </div>

        <div class="col-md-2">
            <label for="EffeciencyDateFrom">Datum účinnosti</label>

        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-4">
            <label for="NextReviewDateFrom">Příští datum přezkoumání</label>
        </div>

        <div class="col-md-2">
            
        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#section-filter-plus3" id="btnCollapse3">
                <span class="glyphicon glyphicon-collapse-down"></span> +
            </button>
        </div>

    </div>

    <div id="section-filter-plus3" class="collapse">

        <div class="row">

            <div class="col-md-1">
                
            </div>

            <div class="col-md-2">
                <input type="text" id="EffeciencyDateFrom" class="filter form-control" placeholder="Od" value="@((filter != null) ? filter.EffeciencyDateFrom : null)"/>
            </div>

            <div class="col-md-2">
                <input type="text" id="EffeciencyDateTo" class="filter form-control" placeholder="Do" value="@((filter != null) ? filter.EffeciencyDateTo : null)"/>
            </div>

            <div class="col-md-2">
                <input type="text" id="NextReviewDateFrom" class="filter form-control" placeholder="Od" value="@((filter != null) ? filter.NextReviewDateFrom : null)"/>
            </div>

            <div class="col-md-2">
                <input type="text" id="NextReviewDateTo" class="filter form-control" placeholder="Do" value="@((filter != null) ? filter.NextReviewDateTo : null)"/>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1">

            </div>
        </div>


    </div>

    </div>
<div class="WSpager" style="float:left;" id="pager"></div>
<input type="hidden" id="page" name="currentPage" value="@((filter != null && filter.Page != 0) ? filter.Page : 1)"/>
<table class="table" style="margin-top:20px" id="AllDocuments">
    <tr>
        <th>
            Číslo
            <a href="#" class="sortBy" sortBy="NumberA"><span class="glyphicon glyphicon-circle-arrow-up setSortByDefault"></span></a>
            <a href="#" class="sortBy" sortBy="NumberD"><span class="glyphicon glyphicon-circle-arrow-down setSortByDefault"></span></a>
        </th>
        <th>
            Název
            <a href="#" class="sortBy" sortBy="NameA"><span class="glyphicon glyphicon-circle-arrow-up setSortByDefault"></span></a>
            <a href="#" class="sortBy" sortBy="NameD"><span class="glyphicon glyphicon-circle-arrow-down setSortByDefault"></span></a>
        </th>
        
        <th>
            Účinnost
            <a href="#" class="sortBy" sortBy="EffeciencyDateA"><span class="glyphicon glyphicon-circle-arrow-up setSortByDefault"></span></a>
            <a href="#" class="sortBy" sortBy="EffeciencyDateD"><span class="glyphicon glyphicon-circle-arrow-down setSortByDefault"></span></a>
        </th>
        <th>
            Správce
            <a href="#" class="sortBy" sortBy="AdminA"><span class="glyphicon glyphicon-circle-arrow-up setSortByDefault"></span></a>
            <a href="#" class="sortBy" sortBy="AdminD"><span class="glyphicon glyphicon-circle-arrow-down setSortByDefault"></span></a>
        </th>

        <th>
            Stav
        </th>

        <th>
            Seznámeno:Ne
            
        </th>
        @*<th>
            Archiv

        </th>*@
        <th></th>
    </tr>
</table>
