@model GCPack.Model.UserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SaveUser", "User"))
{
    <input type="hidden" name="ID" value="@Model.ID" />
    <input type="hidden" name="type" value="@ViewBag.Type" />
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2">
                <b>Jméno</b>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            <div class="col-md-2">
                <b>Příjmení</b>
            </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-2">
                <b>Osobní číslo</b>
            </div>
            <div class="col-md-1">
                @Html.EditorFor(model => model.UserNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <b>Uživatelské jméno</b>
                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            <div class="col-md-2">
                <b>Heslo</b>
            </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type="password"} })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-2">
                <b>Hlavní email</b>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Email1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email1, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <b>Druhý email</b>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Email2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <b>Telefon 1</b>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Phone1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone1, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <b>Telefon 2</b>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Phone2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <b>Aktivní účet</b>
            </div>
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <b>Nadřízený</b>
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ManagerID, new SelectList(ViewBag.Users, "ID", "Value"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ManagerID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <b>Pracovní pozice</b>
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.JobPositionID, new SelectList(ViewBag.JobPositions, "ID", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JobPositionID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <b>Role</b>
            </div>
            <div class="col-md-10">
                @Html.ListBoxFor(m => m.RoleIDs, new SelectList(ViewBag.Roles, "ID", "Value"), new { @class = "form-control", style="height:120px" })
                @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Uložit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Zpět", "Index")
</div>
