@model IEnumerable<GCPack.Model.UserModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Přidat osobu", "AddUser", null, new { @class = "btn btn-default btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            Jméno
        </th>
        <th>
            Pracovní pozice
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.LastName @item.FirstName</td>        
        <td>
            @item.JobPosition.Name
        </td>
        <td>
            @Html.ActionLink("Upravit osobu", "EditUser", new { userId=item.ID }, new { @class = "btn btn-default btn-sm" }) 
            @Html.ActionLink("Smazat osobu", "DeleteUser", new { userId=item.ID }, new { @class = "btn btn-default btn-sm" })
        </td>
    </tr>
}

</table>
